<div style="margin-top:5%; width: auto;"> 
<div class="quote">
  <div class="quote-img-start">
    <img height="50" width="150" src="http://www.decodeunicode.org/en/data/glyph/196x196/201C.gif" />
  </div>
  <div class="quote-content" style="font-size: 44px">
    <b>Faith is taking the first step even when you can't see the whole staircase.</b>
    <div class="author" style="font-size: 24px">
      <img height="50" width="50" src="http://www.globalhz.org/wp-content/uploads/2012/12/Martin-Luther-King-Jr-9365086-2-402-50x50.jpg" /> <span style="color:#D0D0D0 ;padding: 5px;"> Martin Luther King, Jr. (1929 - 1968)  </span>     </div>
  </div>
  <div class="quote-img-end">
    <img height="100" width="150" src="http://www.decodeunicode.org/en/u+201d/data/glyph/196x196/201D.gif" />
  </div>
 
 
</div>
<div style="text-align: center; margin-top: 1%;">
  <p style="text-align: center;font-family: 'Roboto', sans-serif; font-size: 18px;"><b>Discover, Like, Make, follow <span style="color: #5975b1"><b>DO MORE</b></span> with great quotes. </b></p><br><br>
  <a class="fb-button" href="<%= @fb_login_url %>"> Jump in with Facebook ! </a><br><br><br>
  <p style="color:#D0D0D0 ;">We too HATE spam as much as you do so, no posting without your permission.</p>
</div>  
